<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="common/header :: common-header"></head>

<body class="bg-general">
    <div th:replace="common/header :: common-navbar"></div>
    <div>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                            <div class="card-header ph-card-header">
                                <h3 class="text-center font-weight-light my-4">Password Recovery</h3>
                            </div>
                            <div class="card-body">
                                <div th:if="${emailNotExist}" class="alert alert-danger">Email doesn't exist.</div>
                                <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email sent.</div>
                                <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                <form th:action="@{/auth/forget-password}" method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" type="email" placeholder="name@example.com" name="email" required />
                                        <label for="email">Email address</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" th:href="@{/auth/login}">Return to login</a>
                                        <button type="submit" class="btn btn-primary">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3 ph-card-header">
                                <div class="link-white"><a th:href="@{/auth/register}">Need an account? Sign up!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div th:replace="common/header :: common-footer"></div>
    <div th:replace="common/header :: common-body-scripts"></div>
</body>

</html>