<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="common/header :: common-header"></head>

<body class="bg-general">
    <div th:replace="common/header :: common-navbar"></div>
    <div class="container-fluid">
        <div class="row d-flex flex-row">
            <div class="col-lg-3">
                <div th:replace="common/header :: common-slideBar"></div>
            </div>
            <div class="col-lg-9">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="card my-2">
                                <div class="card-header ph-card-header">
                                    <h3 class="text-center  font-weight-light my-4">
                                        Book Information
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb fs-4">
                                                <li class="breadcrumb-item"><a th:href="@{/admin/book/bookList}"><i
                                                            class="fas fa-long-arrow-alt-left"></i>
                                                        Go
                                                        back</a>
                                                </li>
                                                <li class="breadcrumb-item"><a th:href="@{/admin/book/updateBook?id=}+${book.id}">Edit</a>
                                                </li>
                                            </ol>
                                        </nav>


                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img th:src="@{/img/books/}+'book_'+${book.id}+'.png'" class="card-img" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">

                                            <h3 th:text="${book.title}"></h3>
                                            <div class="row">
                                                <div class="col">
                                                    <p><strong>Author: </strong><span th:text="${book.author}"></span>
                                                    </p>
                                                    <p><strong>Publisher: </strong><span th:text="${book.publisher}"></span>
                                                    </p>
                                                    <p><strong>Publication Date: </strong><span th:text="${book.publicationDate}"></span></p>
                                                    <p><strong>Language: </strong><span th:text="${book.language}"></span>
                                                    </p>
                                                    <p><strong>Category: </strong><span th:text="${book.category}"></span>
                                                    </p>
                                                    <p><strong>Pages: </strong><span th:text="${book.numberOfPages}"></span>
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <p><strong>Format: </strong><span th:text="${book.format}"></span>
                                                    </p>
                                                    <p><strong>ISBN: </strong><span th:text="${book.isbn}"></span></p>
                                                    <p><strong>Shipping Weight: </strong><span th:text="${book.shippingWeight}"></span></p>
                                                    <p><strong>List Price: </strong><span th:text="${book.listPrice}"></span>
                                                    </p>
                                                    <p><strong>Our Price: </strong><span th:text="${book.ourPrice}"></span>
                                                    </p>
                                                    <p><strong>Number in Stock: </strong><span th:text="${book.inStockNumber}"></span></p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <Strong>Description: </Strong><span th:text="${book.description}"></span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="common/header :: common-footer"></div>
    <div th:replace="common/header :: common-body-scripts"></div>
</body>

</html>