<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="common/header :: common-header"></head>

<body class="bg-general">
	<div th:replace="common/header :: common-navbar"></div>
	<div class="container-fluid">
		<div class="row d-flex flex-row">
			<div class="col-lg-3">
				<div th:replace="common/header :: common-slideBar"></div>
			</div>
			<div class="col-lg-9">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="card my-2">
								<div class="card-header ph-card-header">
									<h3 class="text-center  font-weight-light my-4">Book List
									</h3>
								</div>
								<div class="card-body">
									<a th:href="@{/admin/book/add}" class="btn btn-primary mb-3"><i
										class="far fa-plus-square"></i> Add New Book</a>

									<table id="bookListTable"
										class="table table-bordered table-hover table-striped text-center">
										<thead>
											<tr>
												<th>Title</th>
												<th>Author</th>
												<th>Category</th>
												<th>List Price</th>
												<th>Our Price</th>
												<th>Active?</th>
												<th>Operation</th>
											</tr>
										</thead>
										<tbody>
											<tr data-th-each="book : ${bookList}">

												<td><a th:href="@{/admin/book/bookInfo(id=${book.id})}"><span
														th:text="${book.title}"></span></a></td>
												<td th:text="${book.author}"></td>
												<td th:text="${book.category}"></td>
												<td th:text="${book.listPrice}"></td>
												<td th:text="${book.ourPrice}"></td>
												<td th:text="${book.active}"></td>
												<td><a
													th:href="@{/admin/book/remove/{id}(id=${book.id})}"
													class="btn btn-danger"><i class="fas fa-trash-alt"></i>
														Delete</a></td>
											</tr>
										</tbody>
									</table>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: common-footer"></div>
	<div th:replace="common/header :: common-body-scripts"></div>
</body>

</html>