<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="common/header :: common-header"></head>

<body class="bg-general">
    <div th:replace="common/header :: common-navbar"></div>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Checkout Page</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
            </div>
        </div>
    </header>
    <main>
        <form th:action="@{/checkout}" method="post">
            <div class="container-fluid my-3">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mx-3 border border-1 border-dark shadow-lg rounded">
                                    <button type="submit" class="btn btn-warning">Place
                                        your order</button>
                                </div>

                                <p style="font-size: smaller;">
                                    By placing your order, you agree to Bookstore <a href="#">privacy</a> notice and <a href="#">conditions</a> of use.
                                </p>
                                <hr />
                                <h3>Order Summary</h3>
                                <div class="row">
                                    <div class="col-lg-7 text-left">Total before tax:</div>
                                    <div class="col-lg-5 text-right">
                                        $<span th:text="${shoppingCart.grandTotal}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7 text-left">Estimated tax:</div>
                                    <div class="col-lg-5 text-right">
                                        $<span th:with="tax=${shoppingCart.grandTotal*0.2}" th:text="${#numbers.formatDecimal(tax, 0 ,2)}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7 text-left">Shipping:</div>
                                    <div class="col-lg-5 text-right">
                                        $<span th:text="${#numbers.formatDecimal(20, 0 ,2)}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7 text-left">
                                        <h3 style="color: darkred;">
                                            <strong>Order Total: </strong>
                                        </h3>
                                    </div>
                                    <div class="col-lg-5 text-right">
                                        <h3>
                                            <strong style="color: darkred;">$<span
                                                    th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06+ 20}"
                                                    th:text="${#numbers.formatDecimal(total, 0 ,2)}"></span></strong>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">Shipping and handling haven't applied.
                            </div>

                        </div>
                    </div>
                    <!-- Checkout Info -->
                    <div class="col-lg-8">
                        <div th:if="${missingRequiredField}">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="alert alert-warning">There are some fields missing. Field with * is required.
                                    </h5>
                                </div>
                            </div>

                        </div>
                        <div class="accordion" id="checkout">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingShippingInfo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#shippingInfo" aria-expanded="true" aria-controls="shippingInfo">
                                        1. Shipping Address
                                    </button>
                                </h2>
                                <div id="shippingInfo" th:class="${classActiveShipping}? 'accordion-collapse collapse show' : 'collapsed'" aria-labelledby="headingShippingInfo" data-bs-parent="#checkout">
                                    <div class="accordion-body">
                                        <table class="table" th:if="${not emptyShippingList}">
                                            <thead>
                                                <tr>
                                                    <th>Available Shipping Address</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="userShipping : ${userShippingList}">
                                                    <td th:text="${userShipping.userShippingStreet1}+' '+${userShipping.userShippingStreet2}+', '+${userShipping.userShippingCity}
                                        												+', '+${userShipping.userShippingState}"></td>
                                                    <td><a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">use
                                                            this address</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="form-group mb-3">
                                            <label for="shippingName">* Name</label>
                                            <input type="text" class="form-control" id="shippingName" placeholder="Receiver Name" name="shippingAddressName" th:value="${shippingAddress.shippingAddressName}" />
                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="shippingStreet">* Street Address</label>
                                            <input type="text" class="form-control" id="shippingStreet" placeholder="Street Address 1" name="shippingAddressStreet1" th:value="${shippingAddress.shippingAddressStreet1}" />
                                        </div>
                                        <div class="form-group mb-3">
                                            <input type="text" class="form-control" placeholder="Street Address 2" name="shippingAddressStreet2" th:value="${shippingAddress.shippingAddressStreet2}" />
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="shippingCity">* City</label>
                                                    <input type="text" class="form-control" id="shippingCity" placeholder="Shipping City" th:name="shippingAddressCity" required="required" th:value="${shippingAddress.shippingAddressCity}" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="shippingState">* State</label> <select id="shippingState" class="form-control" th:name="shippingAddressState" th:value="${shippingAddress.shippingAddressState}" required="required">
                                                        <option value="" disabled="disabled">Please select
                                                            an option</option>
                                                        <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${shippingAddress.shippingAddressState}==${state})">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="shippingZipcode">* Zipcode</label> <input type="text" class="form-control" id="shippingZipcode" placeholder="Shipping Zipcode" th:name="shippingAddressZipcode" required="required" th:value="${shippingAddress.shippingAddressZipcode}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 justify-content-end">
                                            <button class="btn btn-info w-25 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Next
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Payment Information -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2. Payment Information
                                    </button>
                                </h2>
                                <div id="collapseTwo" th:class="${classActivePayment}? 'collapsed' : 'accordion-collapse collapse' " aria-labelledby="headingTwo" data-bs-parent="#checkout">
                                    <div class="accordion-body">
                                        <table class="table" th:if="${not emptyPaymentList}">
                                            <thead>
                                                <tr>
                                                    <th>Available Credit Card</th>
                                                    <th>Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="userPayment : ${userPaymentList}">
                                                    <td th:text="${userPayment.cardName}"></td>
                                                    <td><a th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">use
                                                            this payment</a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Credit Card Information -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img th:src="@{/img/creditcard.png}" class="img-responsive" /><br />
                                                <div class="form-group mb-3">
                                                    <label for="cardType">* Select Card Type: </label> <select class="form-control" id="cardType" name="type" th:value="${payment.type}">
                                                        <option value="visa">Visa</option>
                                                        <option value="mastercard">Mastercard</option>
                                                        <option value="discover">Discover</option>
                                                        <option value="amex">American Express</option>
                                                    </select>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="cardHolder">* Card Holder Name:</label> <input type="text" class="form-control" id="cardHolder" required="required" placeHolder="Card Holder Name" th:name="holderName" th:value="${payment.holderName}"
                                                    />
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="cardNumber">* Card Number:</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" id="cardNumber" required placeHolder="Valid Card Number" th:name="cardNumber" th:value="${payment.cardNumber}" />
                                                        <span class="input-group-text"><i
                                                                class="fas fa-credit-card"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group mb-3">
                                                    <label>* Expiration Date</label>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <select class="form-control" name="expiryMonth" required="required" th:value="${payment.expiryMonth}">
                                                                <option disabled="disabled">-- Month --</option>
                                                                <option value="01">Jan (01)</option>
                                                                <option value="02">Feb (02)</option>
                                                                <option value="03">Mar (03)</option>
                                                                <option value="04">Apr (04)</option>
                                                                <option value="05">May (05)</option>
                                                                <option value="06">June (06)</option>
                                                                <option value="07">July (07)</option>
                                                                <option value="08">Aug (08)</option>
                                                                <option value="09">Sep (09)</option>
                                                                <option value="10">Oct (10)</option>
                                                                <option value="11">Nov (11)</option>
                                                                <option value="12">Dec (12)</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <select class="form-control" name="expiryYear" th:value="${payment.expiryYear}">
                                                                <option disabled="disabled">-- Year --</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2024">2024</option>
                                                                <option value="2025">2025</option>
                                                                <option value="2026">2026</option>
                                                                <option value="2027">2027</option>
                                                                <option value="2028">2028</option>
                                                                <option value="2029">2029</option>
                                                                <option value="2030">2030</option>
                                                                <option value="2031">2031</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="form-group mb-3">
                                                    <label for="cardCVC">CV Code</label> <input id="cardCVC" type="tel" class="form-control" name="cvc" placeholder="CVC" th:name="cvc" th:value="${payment.cvc}" />
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Billing Address -->
                                        <div class="form-check mb-3">
                                            <label class="form-check-label"> <input class="form-check-input"
                                                    id="theSameAsShippingAddress" type="checkbox"
                                                    name="billingSameAsShipping" value="true" />
                                                The same as shipping address
                                            </label>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="billingName">* Name</label> <input type="text" class="form-control billingAddress" id="billingName" placeholder="Receiver Name" th:name="billingAddressName" required="required" th:value="${billingAddress.billingAddressName}"
                                            />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="billingAddress">* Street Address</label> <input type="text" class="form-control billingAddress" id="billingAddress" placeholder="Street Address 1" th:name="billingAddressStreet1" required="required"
                                                th:value="${billingAddress.billingAddressStreet1}" /> <input type="text" class="form-control billingAddress" id="billingAddress" placeholder="Street Address 2" th:name="billingAddressStreet2" th:value="${billingAddress.billingAddressStreet2}"
                                            />
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="billingCity">* City</label> <input type="text" class="form-control billingAddress" id="billingCity" placeholder="Billing city" th:name="billingAddressCity" required="required" th:value="${billingAddress.billingAddressCity}"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="billingState">* State</label> <select id="billingState" class="form-control billingAddress" th:name="billingAddressState" th:value="${billingAddress.billingAddressState}" required="required">
                                                        <option value="" disabled="disabled">Please select
                                                            an option</option>
                                                        <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${billingAddress.billingAddressState}==${state})">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="billingZipcode">* Zipcode</label> <input type="text" class="form-control billingAddress" id="billingZipcode" placeholder="Billing Zipcode" th:name="billingAddressZipcode" required="required"
                                                        th:value="${billingAddress.billingAddressZipcode}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 justify-content-end">
                                            <button class="btn btn-info w-25 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Next
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- 3. Review Items and Shipping -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        3. Review Items and Shipping
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#checkout">
                                    <div class="accordion-body">
                                        <h4>Choose your shipping method:</h4>
                                        <div class="form-check">
                                            <label class="form-check-label"> <input type="radio" name="shippingMethod"
                                                    value="groundShipping" checked="checked" /> Ground Shipping
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label"> <input type="radio" name="shippingMethod"
                                                    value="premiumShipping" />
                                                Premium Shipping
                                            </label>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4>Products</h4>
                                            </div>
                                            <div class="col-lg-2">
                                                <h4>Price</h4>
                                            </div>
                                            <div class="col-lg-2">
                                                <h4>Qty</h4>
                                            </div>
                                        </div>

                                        <!-- display products in cart -->
                                        <div class="row" th:each="cartItem : ${cartItemList}">
                                            <hr />
                                            <div class="col-lg-2">
                                                <a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img class="img-responsive shelf-book" th:src="@{/img/books/}+'book_'+${cartItem.book.id}+'.png'" style="width: 70px;" />
                                                </a>
                                            </div>
                                            <div class="col-lg-6">
                                                <div style="margin-left: 50px;">
                                                    <a th:href="@{/bookDetail?id=}+${cartItem.book.id}">
                                                        <h4 th:text="${cartItem.book.title}"></h4>
                                                    </a>
                                                    <p th:if="${cartItem.book.inStockNumber&gt;10}" class="text-success fw-bold">In Stock</p>
                                                    <p th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}" class="text-success fw-bold">
                                                        Only <span th:text="${cartItem.book.inStockNumber}"></span> In Stock
                                                    </p>
                                                    <p th:if="${cartItem.book.inStockNumber==0}" class="text-danger fw-bold">Product Unavailable</p>
                                                    <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">delete</a>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <h5 class="fw-bold text-danger">
                                                    $<span th:text="${cartItem.book.ourPrice}" th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                                                </h5>
                                            </div>

                                            <div class="col-lg-2">
                                                <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                                            </div>

                                        </div>

                                        <hr />
                                        <h4 class="col-lg-12 text-right">
                                            <strong style="font-size: large;">Order Total (<span
                                                    th:text="${#lists.size(cartItemList)}"></span> items):
                                            </strong> <span class="fw-bold text-danger">$<span
                                                    th:text="${shoppingCart.grandTotal}"></span></span>
                                        </h4>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <button type="submit" class="btn btn-info btn-block">Place
                                                your order</button>
                                        </div>

                                        <p style="font-size: smaller;">
                                            By placing your order, you agree to Bookstore <a href="#">privacy</a> notice and <a href="#">conditions</a> of use.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </main>


    <div th:replace="common/header :: common-footer"></div>
    <div th:replace="common/header :: common-body-scripts"></div>
</body>

</html>